StrideGo.API/obj/
.vs/
StrideGo.Business.UnitTests/bin/
StrideGo.Domain/obj/
StrideGo.Business.UnitTests/obj/
StrideGo.Storage/bin/
StrideGo.Business/obj/
StrideGo.Storage/obj/
StrideGo.Business/bin/
StrideGo.Domain/bin/
StrideGo.API/bin/
*.user
