<div class="question-container m-4">
  <div class="action-container d-flex flex-row-reverse ">
    <div class="btn-default-light" (click)="toggleAddQuestionForm()">
      <i class="fas fa-plus-circle"></i>
      <span>Ask Question</span>
    </div>
  </div>
  <div class="ask-question-form" [style.display]="showAddQuestionForm ? 'block' : 'none'">
    <textarea class="form-control" [(ngModel)]="questionTextInput" rows="3"></textarea>
    <div class="d-flex flex-row-reverse my-2">
      <div class="btn-default-dark" (click)="createQuestion()">
        <span>Ask</span>
      </div>
    </div>
  </div>
  <div *ngIf="questions">
    <question *ngFor="let question of questions" [question]="question" (deleteQuestionEvent)="deleteQuestion($event)">
    </question>
  </div>
</div>