<div class="question-container m-4 color-blue">
  <h3 class="align-center">{{pageTitle}}</h3>
  <div class="action-container d-flex flex-row-reverse" *ngIf="questionCategoryId">
    <div class="btn-default-light" (click)="toggleAddQuestionForm()">
      <i class="fas fa-plus-circle"></i>
      <span>Ask Question</span>
    </div>
  </div>
  <div class="ask-question-form" *ngIf="showAddQuestionForm">
    <textarea id="question" name="question" class="form-control" [(ngModel)]="questionTextInput" #questionText="ngModel"
      rows="3" minlength=20 maxlength=255 required></textarea>
    <div class="text-danger text-right" *ngIf="questionText.invalid">
      <div *ngIf="questionText.errors.required">
        <em>Question cannot be empty.</em>
      </div>
      <div *ngIf="questionText.errors.minlength">
        <em>Question must be at least 20 characters long.</em>
      </div>
    </div>
    <div class="d-flex flex-row-reverse my-2">
      <div class="btn-default-dark" (click)="createQuestion()">
        <span>Ask</span>
      </div>
    </div>
  </div>
  <div *ngIf="questions">
    <question *ngFor="let question of questions" [question]="question" (deleteQuestionEvent)="deleteQuestion($event)">
    </question>
  </div>
</div>