.question-card {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 130px;
}

@media (max-width: 768px) {
  .question-card {
    margin: 10px 20px;
    padding: 5px;
  }
}
