#wrapper {
  overflow-x: hidden;
}

#content-wrapper {
  min-width: 100vw;
  height: 100vh;
  overflow: auto;
}

@media (min-width: 768px) {
  #content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .btn-default-light,
  .btn-default-dark {
    padding: 5px 15px;
  }
}
