/* You can add global styles to this file, and also import other style files */

.btn-default {
  color: #ffffff !important;
  background-color: #142b40;
  border-radius: 20px;
  padding: 5px 50px;
  min-width: 120px;
  text-align: center;
  font-weight: bold;
  border-color: #1861ac;
}

.bg-gray {
  background-color: #f8f9fa;
}

.fa,
.fas {
  margin: 0 5px;
  width: 20px;
  height: 20px;
}
