/* You can add global styles to this file, and also import other style files */

.btn-default-dark,
.btn-default-light {
  color: #ffffff !important;
  border-radius: 20px;
  padding: 5px 25px;
  min-width: 120px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.btn-default-dark {
  background-color: #142b40;
}

.btn-default-light {
  background-color: #2abbdd;
}

.bg-gray {
  background-color: #f8f9fa;
}

.bg-blue {
  background-color: #142b40;
}

.color-blue {
  color: #142b40;
}

.color-green {
  color: #2eb872;
}

.color-red {
  color: #fa4659;
}

.color-gray {
  color: #6f7f88;
}

.font-weight-500 {
  font-weight: 500;
}

.fa,
.fas {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.text-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profile-thumbnail {
  background-image: url("assets/avatar-1.svg");
  background-size: cover;
  width: 45px;
  height: 45px;
  border: 1px solid #6f7f88;
  border-radius: 45px;
  margin: 5px;
}

.default-border-radius {
  border-radius: 25px;
}
